@page "/add-video-upload"

<PageTitle>Add Video by Uploading</PageTitle>

<h2>Add New Video by Uploading</h2>
<EditForm EditContext="editContext" OnValidSubmit="HandleValidSubmit" FormName="VideoFileSubmitForm">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-3">
        <label for="videoName" class="form-label">Video Name</label>
        <InputText id="videoName" class="form-control" @bind-Value="newVideoName" />
    </div>
    <div class="mb-3">
        <label for="videoDescription" class="form-label">Video Description</label>
        <InputText id="videoDescription" class="form-control" @bind-Value="newVideoDescription" />
    </div>
    <div class="mb-3">
        <label for="videoFile" class="form-label">Video File</label>
        <InputFile id="videoFile" class="form-control" OnChange="HandleFileSelected" />
        @if (selectedFile != null)
        {
            <p class="mt-2">Selected file: @selectedFile.Name</p>
        }
    </div>
    <button type="submit" class="btn btn-primary">Add Video</button>
</EditForm>
